# Base API URL for backend services
VITE_API_URL=https://pranara-tours.onrender.com

# Clerk Publishable Key (from Clerk dashboard)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZGlyZWN0LW9yeXgtNzYuY2xlcmsuYWNjb3VudHMuZGV2JA

