# Base API URL for backend services
VITE_API_URL=https://api.pranaramunnar.com

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAusz_qweZJR7joyRAwglYvvwzf9yh56IM,
VITE_FIREBASE_AUTH_DOMAIN=pranara-b6a52.firebaseapp.com,
VITE_FIREBASE_PROJECT_ID=pranara-b6a52,
VITE_FIREBASE_STORAGE_BUCKET=pranara-b6a52.firebasestorage.app,
VITE_FIREBASE_MESSAGING_SENDER_ID=383021711825,
VITE_FIREBASE_APP_ID=1:383021711825:web:6c6c995e3f7cd7aa8160f0
